body { 
    background: url("../images/akan.jpg") no-repeat fixed center;
  }

h1, p {
    font-size: 25px;
    text-align: center;
}

#gndr {
    font-size: 30px;
}

input[type=number], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 2px;
    margin-bottom: 20px;
    resize: vertical;
  }

  .alertAkan {
    padding: 20px;
    background-color: #038103;
    color: white;
    text-align: center;
    margin-top: 9rem;
  }

  #closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }

  #akanButton {
    margin-left: 10rem;
    margin-top: 2rem;
  }

  #showAkan {
    text-align: center;
  }